<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Learning ejs</h1>
    <h3>dicevalue bieng paased from server to home.ejs</h3>
    <!--Outputs the value into the template (HTML escaped)  -->
    <h3><%= diceval %></h3>
    <p>
      What is the "E" for? "Embedded?" Could be. How about "Effective,"
      "Elegant," or just "Easy"? EJS is a simple templating language that lets
      you generate HTML markup with plain JavaScript. No religiousness about how
      to organize things. No reinvention of iteration and control-flow. It's
      just plain JavaScript.
    </p>
    <button>
      <a target="_blank" href="https://ejs.co/">ejs</a>
    </button>
  </body>
</html>
