<footer>
  <div class="f-info py-2">
    <div class="f-info-socials d-flex gap-4">
      <i class="fa-brands fa-square-facebook fs-3"></i>
      <i class="fa-brands fa-square-instagram fs-3"></i>
      <i class="fa-brands fa-linkedin fs-3"></i>
    </div>
    <div>&copy Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
