<% layout('/layouts/boilerplate') %>
<div class="raw mt-3">
  <div class="alert alert-danger d-flex align-items-center gap-3" role="alert">
    <i class="fa-solid fa-triangle-exclamation bg-red"></i>
    <div>
      <p class="mb-0"><%= message %></p>
    </div>
  </div>
</div>
