<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="text-center">Create New User</h1>
    <form action="/users" method="Post" class="create-form">
      <label>Username: <input type="text" name="username" required /></label
      ><br />
      <label>Email: <input type="email" name="email" required /></label><br />
      <label>Password: <input type="password" name="password" required /></label
      ><br />
      <button type="submit" class="view">Create</button>
    </form>
  </body>
</html>
